
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');


.gallery {
  width: 1440px;
  height: 696px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 24px;
  row-gap: 24px;
}

.gallery-item {
  width: calc(33% - 24px);
  height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;

}

.gallery-link {
  display: block;
  width: 100%;
  height: 100%;
}


.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.1s ease-in-out;
}

.gallery-link:hover .gallery-image:hover {
  transform: scale(1.05);
  cursor: url('/img/bxs_hand-down.png');

}

.feedback-form{
  display: flex;
  flex-direction: column;
  margin: 200px auto;
  width: 300px;
  gap: 10px;
}

.feedback-form input,
.feedback-form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.feedback-form input:hover,
.feedback-form textarea:hover, .feedback-form input:active,
.feedback-form textarea:active, .feedback-form input:focus,
.feedback-form textarea:focus {
 
  outline: none;
  border: 1px solid black;
  
}
 

.feedback-form button {
  background-color: #4E75FF;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 95px;
}

.feedback-form button:hover {
  background-color: #6C8CFF;
}
